<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Footer Content</h5>
                <p class="black-text text-lighten-4">
                This is additional Footer Content
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text"> Click on below Link to visit my institute's webpage:</h5>
                <ul>
                    <li>
                    <a target="_blank" class="grey-text text-lighten-4" href="https://vitbhopal.ac.in/">Visit VIT BHOPAL</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright -APOORV
            <p style="color: rgb(12, 12, 31);">Below contains some links to educational content</p> 
            <a target="_blank" class="green-text text-lighten-4 left" href="https://codingblocks.com/">coding Blocks</a>
            <br>
            <a target="_blank" class="blue-text text-lighten-4 left" href="https://www.codechef.com/interviewprep?itm_medium=navmenu&itm_campaign=prepare">codechef </a>
        </div>
    </div>
</footer>